@model List<CustomFormsApp.Models.AnswerModel>

<h2>Submitted Answers</h2>

@foreach (var answer in Model)
{
    <div>
        <strong>@answer.Question.Title</strong><br />
        @if (answer.Question.Type == QuestionType.SingleLineString || answer.Question.Type == QuestionType.MultiLineText)
        {
            <p>@answer.AnswerText</p>
        }
        else if (answer.Question.Type == QuestionType.PositiveInteger)
        {
            <p>@answer.AnswerInteger</p>
        }
        else if (answer.Question.Type == QuestionType.Checkbox)
        {
            <p>@(answer.AnswerBoolean == true ? "Checked" : "Not Checked")</p>
        }
    </div>
}
